.page {
  min-inline-size: 360px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color);
  margin: 0px;
  block-size: 100%;
  font-family: 'IBM Plex Mono', monospace;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  font-weight: normal;
  position: relative;
  margin-block-end: 60px;
  height: 100vh;
  padding: 20px;
}

.header__title {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--logo-size);
  line-height: 129.53px;
  color: var(--accent-color);
  text-shadow: 4px 4px 0 var(--secondary-color);
  margin: 0;
  margin-left: -20px;
  justify-self: start;
}

.header__subtitle {
  background-color: var(--secondary-color);
  color: var(--color-text);
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  align-self: center;
  width: 50%;
  justify-self: end;
  margin: 0;
}

.decorated-zone-rec {
  position: absolute;
  width: 33px;
  height: 26px;
  text-transform: uppercase;
  color: #FF0070;
  top: 20px;
  right: 48px;
  line-height: 25px;
  font-size: 18px;
}

.decorated-zone-rec::after {
  content:"";
  position: absolute;
  border-radius: 50%;
  background-color: #FF0070;
  width: 9px;
  height: 9px;
  top: 8px;
  right: -18px;
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.decorated-zone::before {
  content:"";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--button, #ff0070);
  border-right: 1px solid var(--button, #ff0070);
}

.decorated-zone::after {
  content:"";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--button, #ff0070);
  border-left: 1px solid var(--button, #ff0070);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.header__theme-menu-item {
  color: var(--button);
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  cursor: pointer;
  font-size: 18px;
  font-family: inherit;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
  padding: 0 13px 0;
}

.title_decor {
  background-color: var(--secondary-color);
  color: var(--color-text);
  text-align: left;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  grid-area: title_decor;
}

.link {
  cursor: pointer;
  text-shadow: 2px 2px 0 var(--secondary-color);
  text-decoration: none;
}

.content__section {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
  margin-block-end: 60px;
  padding: 0 20px 0 20px;
}

.main_title {
  color: var(--button);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  width: 315px;
  justify-self: start;
}

.main_text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  padding: 10px 0 20px 0;
}

.content__section_what {
  margin-block-end: 60px;
  padding: 0 20px 0 20px;
}

.block_what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.description_title {
  background-color: var(--secondary-color);
  color: var(--color-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px
}

h4:nth-child(2n) {
  margin-top: 20px;
}

.gallery {
  display: grid;
  gap: 19px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "title_decor title_decor title_decor"
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
  max-height: 1103px;
  padding: 0 20px 0 20px;
  margin-block-end: 60px;
}

.sunset {
  grid-area: sunset;
  width: 100%;
}

.ice-cream {
  grid-area: ice-cream;
  width: 100%;
}

.tape {
  grid-area: tape;
  width: 100%;
}

.books {
  grid-area: books;
  width: 100%;
}

.street {
  grid-area: street;
  width: 100%;
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--logo-size);
  line-height: 129.53px;
  color: var(--accent-color);
  text-shadow: 2px 4px 0 var(--secondary-color);
}

.link:hover {
  border-bottom: 1px solid var(--color);
}

.link:focus-visible {
  outline: 1px solid var(--color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--button);
}

@media (width < 1023px) {
  .header {
    margin-block-end: 40px;
  }

  .header__subtitle {
    width: 47.5%;
  }

  .header__title {
    line-height: 99px;
  }
  
  .header__theme-menu {
    justify-content: end;
    align-items: center;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .main_title {
    width: 236px;
  }

  .main_text {
  }

  .title_decor {
  }

  .content__section {
    grid-template-columns: 236px 1fr;
  }

  .block_what {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
    gap: 0px;
  }

  .description_title {
    margin-block-start: 4.5%;
  }

  .gallery {
    max-height: 823px;
  }
}

@media (width <= 767px) {
  :root {
    --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    margin-block-end: 30px;
    padding: 10px;
  }

  .header__subtitle {
    width: 100%;
  }

  .header__title {
    line-height: 95.7px;
    margin-left: -10px;
  }
  
  .header__theme-menu {
    justify-content: end;
    align-items: center;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }
  
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }
  
  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .main_title {
    padding-bottom: 3.5%;
    width: 355px;
  }

  .main_text {
  }

  .title_decor {
  }

  .content__section {
    display: block;
    margin-block-end: 50px;
    padding: 0 10px 0px 10px;
  }

  .content__section_what {
    padding: 0 10px 0px 10px;
    margin-block-end: 50px;
  }

  .block_what {
    max-height: 1052px;
  }

  .description_title {
  }

  .gallery {
    display: block;
    max-height: 1400px;
    padding: 0 10px 0px 10px;
    margin-block-end: 40px;
  }

  .footer {
    display: flex;
    block-size: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

@media (width > 1025px) {
  .gallery {
    margin-block-end: 450px;
  }
  .page {
    margin: auto;
  }
}